{% extends 'base.html' %}
{% block body %}
    

    <form action="" method="post">
        <div class="mb-3">
        <label for="InputEmail" class="form-label">Email address</label>
        <input name = "email" type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name = "password"  type="password" class="form-control" id="Password">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>

        <!-- <a href="/#signup form"><button type="button" class="signIn-btn">Sign In</button></a> -->
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
        <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
    </form>

{% endblock body %}